body{
    border: 2px solid;
}
/* border é a distancia de fora do elemento, padding é a distancia dentro do elemento (texto ou imagem) */
#box-1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: green;

    border-style: dashed;
    border-color: silver;
    padding: 2px;
}

#box-2{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: red;
    border-style: groove;
    border-color: gold;
    padding: 2px;
}