body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif,
    min-width:  400px;
}

input{
    border-color: green 1px solid;    
    padding: 10px;
    width: 100%;
    border-radius: 2px;
    box-sizing: border-box;
}

button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin-top:4px;
    border-radius: 2px;
    border: none;
    font-weight: bold;
}

ul {
    list-style-type: none; /* Removes bullet points */    
    padding: 0px;
    padding-top: 20px;
}

li a {
    color: green;
}

li {
    margin-top: 8px;
}
